/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

#banner {
	div {@include container(75%);}
}

#stuff {
	@include container(75%); 
	article {
		p {max-width: 90%;}
	}
}

footer {
	@include container(75%);
	.footer-links {
		padding: 4em 2em 3em 2em; li {margin-bottom: 1em;}
		li a {padding: 6px 9px;}
	}
	}